In [48]:
import numpy as np
import pandas as pd
data = pd.read_excel('8.交叉表数据.xlsx')
data

SyntaxError: invalid syntax (3701910265.py, line 4)

In [17]:
data.head()

,日期,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover,week,day,posi_neg
0,2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39,1,27,1
1,2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53,0,26,1
2,2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32,4,23,1
3,2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90,3,22,1
4,2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58,2,14,1

In [132]:
#通过交叉表找寻两列数据的关系
count = pd.crosstab(data['week'].values,data.day,data.open,aggfunc='max')
_sum = count.sum(axis=1).astype(np.float32)
#进行相除操作，得出比例
pro = count.div(_sum, axis=0)

count
pro

day,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
row_0,,,,,,,,,,,,,,,,,,,,,
0,0.032711,0.025741,0.027309,0.030927,0.028549,0.036265,0.029232,0.035923,0.035165,0.027702,...,0.031800,0.036682,0.028840,0.037062,0.029498,0.030864,0.029662,0.033520,0.041185,0.030080
1,0.030484,0.034785,0.026424,0.027790,0.030054,0.028840,0.036176,0.029308,0.038529,0.034304,...,0.030105,0.033900,0.035670,0.029181,0.037846,0.029763,0.030370,0.031623,0.030130,0.041261
2,0.042674,0.030004,0.035614,0.026411,0.025957,0.029638,0.029248,0.036307,0.030760,0.042989,...,0.031781,0.030218,0.034794,0.035122,0.029664,0.037391,0.027987,0.031088,0.029311,0.030067
3,0.030000,0.040236,0.029304,0.034694,0.028216,0.026571,0.030886,0.031379,0.036542,0.030974,...,0.029507,0.032012,0.030430,0.035428,0.037073,0.030228,0.035365,0.027558,0.030835,0.030570
4,0.031999,0.028297,0.036458,0.029270,0.034576,0.028020,0.026289,0.032214,0.030218,0.036357,...,0.037734,0.030319,0.030445,0.029283,0.034109,0.039730,0.030445,0.034728,0.027287,0.025139

In [111]:
pro2 = pd.pivot_table(data,index='week',values='open',columns=['day','close'],aggfunc=np.max)
pro2

day       1                                                                \
close  13.46  14.10  14.40  16.29 17.94  20.46  21.25 21.48  22.08  22.38
week
0        NaN  13.99    NaN    NaN   NaN  20.37    NaN   NaN    NaN    NaN
1      14.78    NaN  14.02    NaN   NaN    NaN  20.38   NaN    NaN  22.65
2        NaN    NaN    NaN  16.18   NaN    NaN    NaN   NaN  21.61    NaN
3        NaN    NaN    NaN    NaN  17.9    NaN    NaN  21.5    NaN    NaN
4        NaN    NaN    NaN    NaN   NaN    NaN    NaN   NaN    NaN    NaN

day    ...     31
close  ...  17.51  17.91 19.68  20.77  22.79 22.98  23.72  24.27  25.62  34.44
week   ...
0      ...    NaN    NaN   NaN    NaN  22.78   NaN    NaN  23.78    NaN    NaN
1      ...    NaN    NaN   NaN    NaN    NaN   NaN    NaN    NaN    NaN  32.62
2      ...    NaN  17.85   NaN  20.92    NaN   NaN  23.85    NaN    NaN    NaN
3      ...    NaN    NaN   NaN    NaN    NaN  21.9    NaN    NaN  24.16    NaN
4      ...  17.71    NaN  19.9    NaN    NaN   NaN    NaN    NaN    NaN    NaN

[5 rows x 636 columns]