In [1]:
import pandas as pd
col=pd.DataFrame({'color':['white','red','green','red','green'],'object':['pen','pencil','pencil','ashtray','pen'],'price1':[5.56,4.20,1.30,0.56,2.75],'price2':[4.75,4.12,1.60,0.75,3.15]})
print(col)

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15

In [13]:
col.groupby('object',as_index=False,sort=False)['price1'].mean()

    object  price1
0      pen   4.155
1   pencil   2.750
2  ashtray   0.560

In [7]:
col.groupby(['object']).count()

         color  price1  price2
object
ashtray      1       1       1
pen          2       2       2
pencil       2       2       2

In [14]:
col[col['price1'].isin([2,3])]

Empty DataFrame
Columns: [color, object, price1, price2]
Index: []